@model List<AppUser>


    <a asp-action="Create" asp-controller="User">Yeni kullanı ekle</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Kullanıcı İsmi</th>
                <th>Email Adresi</th>
               <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (AppUser item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td></td>
            </tr>
        }
        </tbody>

    </table>